/* Color Scheme */

/*
https://color.adobe.com/TD-Colors---Option-3-color-theme-10394433/edit/?copy=true&base=2&rule=Custom&selected=0&name=Copy%20of%20TD%20Colors%20-%20Option%203&mode=rgb&rgbvalues=0.16862745098039217,0.22745098039215686,0.25882352941176473,0.24705882352941178,0.3411764705882353,0.396078431372549,0.7411764705882353,0.8313725490196079,0.8705882352941177,0.9372549019607843,0.9372549019607843,0.9372549019607843,1,0.3137254901960784,0.20784313725490197&swatchOrder=0,1,2,3,4
*/

body {
    font-size: 16px;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
	      "left center right";
    grid-gap: 10px;
    margin-right: 35px;
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
}

.flexcontainer > div {
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
}

div {
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    padding: 10px;
}

.left {
  grid-area: left;
  background-color: #00A1E7;
  color: white;
}

.center {
  grid-area: center;
  background-color: white;
  color:black;
}

.right {
  grid-area: right;
  background-color: #e62d33;
  color: white;
}
